/*Global styles*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab:400,700&display=swap');

:root {
    --color1: #F9F4F5;
    --color2: #663399;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Slab', serif;
    font-size: 16px;
    line-height: 150%;
    color: var(--color1);
    background-color: var(--color2);
}
#pages {
    background-color: var(--color1);
}

h1, h2, h3 {
    font-family: 'Amatic SC', san-serif;
    margin: 0;
    text-align: center;
}

/*Header*/

.logo a:hover {
    text-decoration: none;
}


header {
    background-color: var(--color2);
    margin: 0px;
    padding: 25px;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

header .menu {
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
    padding: 5px;
    cursor: pointer;

}
header .menu_links {
    position: absolute;
    right: 0;
    height: calc(100% - 65px);
    font-family: 'Amatic SC', sans-serif;
    font-size: 24px;
    padding: 0 50px;
    background-color: var(--color2)/*;rgba(102,51,153,0.9);*/

}
/*header .links > * {
    margin-left: 10px;
} */
header .menu_links {
    display: flex;
    flex-direction: column;
    max-height: 0;
    overflow: hidden;
    transition: all 1s ease-in-out;
}
.menu:hover + .menu_links,
.menu_links:hover {
    max-height: 5000px;
}


/*Icons*/


.icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 40vh 40vh;
    /*grid-template-columns: 250px 270px repeat(2, 250px) 280px;
    grid-template-rows: repeat(2, 100px) 160px 230px;*/
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 80vh;
    }
    
    /*.fest { grid-area: 1 / 2 / 2 / 3; }
    .vr { grid-area: 1 / 3 / 2 / 4; }
    .sealo { grid-area: 1 / 4 / 2 / 5; }
    .liit { grid-area: 2 / 1 / 3 / 2; }
    .qr { grid-area: 1 / 2 / 2 / 4; }
    .pesti { grid-area: 2 / 3 / 2 / 5; }
    .typo { grid-area: 2 / 2 / 5 / 4; }
    .minust { grid-area: 2 / 3 / 5 / 6; }
    .spiku { grid-area: 3 / 1 / 2 / 2; }
    .bag { grid-area: 1 / 5 / 1 / 5; }*/

    .icon img {
        width: 100%;
        display: block;
    }


    /*Icon Layout and Size*/
    
    .vr img {
        transform: scale(0.5) rotate(-2deg) translateY(-30vh) translatex(-10vh);
    }
    .qr img {
        transform: scale(0.4) translateY(-30vh) translateX(145vh);
    }
    .liit img {
        transform: scale(0.4) rotate(-5deg) translateY(55vh) translateX(15vh);
    }
    .spiku img {
        transform: scale(0.4) translateY(120vh) translateX(-355vh);
    }
    .typo img {
        transform: scale(0.5) translateY(15vh);
    }
    .pesti img {
        transform: scale(0.6) translateY(-15vh) translateX(-20vh);
    }
    .sealo img {
        transform: scale(0.5) rotate(5deg) translateY(-85vh) translateX(135vh);
    }
    .bag img {
        transform: scale(0.3) rotate(20deg) translateY(-95vh) translateX(35vh);
    }
    .minust img {
        transform: scale(0.3) translateY(-95vh) translateX(-85vh);
    }
    .fest img {
        transform: scale(0.3) translateY(-55vh);
    }
        /*
        flex: 1;
        object-fit: cover;
    
     /*l6petab pildi venitamise*/

/*Menu link hover*/
    
#liit:hover {
    font-weight: 700;
}
#fest:hover {
    font-weight: 700;
}
#vr:hover {
    font-weight: 700;
}
#sealo:hover {
    font-weight: 700;
}
#bag:hover {
    font-weight: 700;
}
#spiku:hover {
    font-weight: 700;
}
#qr:hover {
    font-weight: 700;
}
#typo:hover {
    font-weight: 700;
}
#pesti:hover {
    font-weight: 700;
}
#minust:hover {
    font-weight: 700;
}

/*Icon hover*/

/*.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease-in-out;
    background-color:rgba(249,244,245,0.7);
  }

  .icons:hover .overlay {
    opacity: .7;

  }

  .text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: black;
    font-size: 30px;
    line-height: 150%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}*/

.icon:hover {
    transform: scale(1.07);
    /*background-color: rgba(249,244,245,0.7);*/
   }




/*A*/

a {
    color: var(--color1);
    /*font-weight: bold;*/
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}



/*Footer*/
footer {
    background-color: var(--color2);;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;

    height: 50px;
    margin-top: 50px;
}
footer a{
    font-weight: normal;
    color: var(--color1);
    opacity: 0.5;
}
