/*Global styles*/

@import url('https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Josefin+Slab:400,700&display=swap');

:root {
    --color1: #F9F4F5;
     --color2: #663399; /*rebeccapurple */
    --color3: hsla(0, 0%, 16%, 0.9);
}


html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

body {
    margin: 0px;
    font-family: 'Josefin Slab', serif;
    font-size: 24px;
    line-height: 150%;
    color: var(--color1);
    background-color: var(--color2);
    /* box-sizing: border-box; */   
}


/*Header*/

header {
    background-color: var(--color2);
    margin: 0px;
    padding: 50px;
    /*padding-bottom: 130px;*/
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header .logo a:hover {
    text-decoration: none;
}


h1, h2, h3, h4 {
    font-family: 'Amatic SC', san-serif;
    margin: 0;
    text-align: center;
}

h2 {
    padding-top: 10vh;
    padding-bottom: 10vh;
}


/* Other pages */

#pages {
    background-color: var(--color1);
    color: var(--color3);
}
.page {
    padding-top: 150px;
}





/* Me page */

.me {
    display: flex;
    flex-direction: row-reverse;
    padding: 20px;
}
.me__grid {
    display: grid;
    grid-template-columns: 2;
    grid-template-rows: 3;
}
#me {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 55vh;
    width: auto;
}

#bulb {
    grid-column: 2;
    grid-row: 1;
    height: 15vh;
    width: auto;
}



/* Emps page */

.emps__content {
    display: flex;
    justify-content: space-between;
}
.emps__content__item{
    width: 100%;
    padding: 20px;
}

.emps__headlines {
    display: flex;
    justify-content: space-around;
}



/* Mockup presenting */

#ABmockup {
    color: var(--color3);
}


#ABmockup a:hover {                         /*miks ei tööta!*/
    text-decoration: underline;
}


.mockup__style {
    font-size: 14px;
    opacity: 65%;
    line-height: 0%;
}



.jamps {
    display: flex;
}







.link_style a:hover{                         /*miks ei tööta!*/
    text-decoration: underline;
}

.link_style {
    color: var(--color3);
}




.pics__headline {
    font-size: 18px;
    text-align: left;
}

img {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#proto__img {
    width: 30vw;
    height: auto;
    min-width: 300px;
}

.proto__headline {
    font-size: 18px;
    text-align: center;
}

.content {
    max-width: 960px;
    margin: auto;/*
    margin-left: 5px;*/
    padding-top: 50px;
}
.content__text {
    padding-top: 10px;
    padding-bottom: 200px;
}





/*Icons Layout*/

.container__icons {
    display: grid;
    grid-template-columns: repeat(10, minmax(100px, 1fr));
    grid-template-rows: repeat(2, minmax(80px, 1fr));
    gap: 30px;
    padding-top: 65px;
}

.container__icons img{
    width: 80%
}

.icon .icon__link{
    position:relative;
    text-align: center;
    visibility: hidden;
}
.icon:hover .icon__link {
    visibility: visible;
}


.tuli {
    grid-column: 3;
    grid-row: 1;
}
.notsu {
    grid-column: 4 / span 2;
    grid-row: 1;
    width: 70%;
}
.sealo {
    grid-column: 6 / span 2;
    grid-row: 1;
}
.kott {
    grid-column: 9;
    grid-row: 1;
}
.kink {
    grid-column: 1 / span 2;
    grid-row: 1;
    width: 80%;
}
.spiku {
    grid-column: 2 / span 2;
    grid-row: 2;
    width: 70%;
}
.qr {
    grid-column: 4;
    grid-row: 2;
}
.k2si {
    grid-column: 5 / span 2;
    grid-row: 2;
}
.mandala {
    grid-column: 7;
    grid-row: 2;
    width: 170%;
}
.mina  {
    grid-column: 9;
    grid-row: 2;
    width: 80%;
}

@keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-20px);
	}
	100% {
		
		transform: translatey(0px);
	}
}

.kink {
	
	transform: translatey(0px);
    animation: float 6s ease-in-out infinite;
    
	
}
.tuli {
	
	transform: translatey(0px);
    animation: float 7s ease-in-out infinite;
    animation-delay: 0.09251s;
	
}
.notsu {
	
	transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    animation-delay: 0.00251s;
	
}
.sealo {
	
	transform: translatey(0px);
	animation: float 9s ease-in-out infinite;
	animation-delay: 0.08251s;
}
.kott {
	
	transform: translatey(0px);
    animation: float 5s ease-in-out infinite;
    animation-delay: 0.07251s;
	
}
.spiku {
	
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
	animation-delay: 0.06251s;
}
.qr {
	
	transform: translatey(0px);
	animation: float 7s ease-in-out infinite;
	animation-delay: 0.03251s;
}
.k2si {
	
	transform: translatey(0px);
	animation: float 9s ease-in-out infinite;
	animation-delay: 0.04251s;
}
.mandala {
	
	transform: translatey(0px);
	animation: float 7s ease-in-out infinite;
	animation-delay: 0.03251s;
}
.mina {
	
	transform: translatey(0px);
	animation: float 8s ease-in-out infinite;
	animation-delay: 0.02251s;
}
#bulb {
    transform: translatey(0px);
	animation: float 8s ease-in-out infinite;
	animation-delay: 0.02251s;
}

@keyframes click {
	0% {
		
		transform: translatex(0px);
	}
	50% {
		
		transform: translatex(-20px);
	}
	100% {
		
		transform: translatex(0px);
	}
}
#backbutton {
    transform: translatex(0px);
	animation: click 4s ease-in-out infinite;
	animation-delay: 0.02251s;
}


a {
    color: var(--color1);
    /*font-weight: bold;*/
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
}



/*Footer*/
footer {
    background-color: var(--color2);
    color: var(--color1);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 70px;
    margin-top: 50px;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}
footer a{
    font-weight: normal;
    color: var(--color1);
    opacity: 0.5;
}

/*.page__footer {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}*/

#backbutton {
    /* color: var(--color1); */
    width: 15vh;
    height: auto;
    /* justify-content: left; */
    
    grid-column: 2;
}

#lang_btn {
    /*font-size: 20px;*/
    font-family: 'Amatic SC', san-serif;
    
    grid-column: 3;
    justify-self: self-end;
    margin-right: 10px;

}

#contact {
    grid-column: 2;
}






@media (max-width: 1200px) {
    

    .container__icons {
        display: grid;
        grid-template-columns: repeat(4, minmax(80px, 1fr));
        grid-template-rows: repeat(4, minmax(80px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding-top: 65px;
    }





    .tuli {
        grid-column: 2;
        grid-row: 1;
        width: 80%;
    }
    .notsu {
        grid-column: 3;
        grid-row: 1;
        width: 70%;
    }
    .sealo {
        grid-column: 4;
        grid-row: 1;
    }
    .kott {
        grid-column: 1;
        grid-row: 2;
        width: 80%;
    }
    .kink {
        grid-column: 1;
        grid-row: 1;
        width: 80%;
    }
    .spiku {
        grid-column: 2;
        grid-row: 2;
        width: 70%;
    }
    .qr {
        grid-column: 3;
        grid-row: 2;
    }
    .k2si {
        grid-column: 4;
        grid-row: 2;
    }
    .mandala {
        grid-column: 2;
        grid-row: 3;
        width: 100%;
    }
    .mina  {
        grid-column: 3;
        grid-row: 3;
        width: 80%;
        z-index: 9000;
    }
  }






  @media (max-width: 768px) {
    

    .container__icons {
        display: grid;
        grid-template-columns: repeat(3, minmax(80px, 1fr));
        grid-template-rows: repeat(5, minmax(80px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 15px;
        padding-top: 65px;
    }





    .tuli {
        grid-column: 2;
        grid-row: 1;
    }
    .notsu {
        grid-column: 3;
        grid-row: 1;
        width: 70%;
    }
    .sealo {
        grid-column: 1;
        grid-row: 2;
    }
    .kott {
        grid-column: 2;
        grid-row: 2;
    }
    .kink {
        grid-column: 1;
        grid-row: 1;
        width: 80%;
    }
    .spiku {
        grid-column: 3;
        grid-row: 2;
        width: 70%;
    }
    .qr {
        grid-column: 1;
        grid-row: 3;
    }
    .k2si {
        grid-column: 2;
        grid-row: 3;
    }
    .mandala {
        grid-column: 3;
        grid-row: 3;
        width: 100%;
    }
    .mina  {
        grid-column: 2;
        grid-row: 4;
        width: 80%;
        z-index: 0;
    }

    .content {
        /* margin-left: 15px; */
        padding: 3vw;
    }


    .me {
        display: grid;
        grid-template-columns: 1;
        grid-template-rows: 4;
    }
    #bulb {
        grid-column: 1;
        grid-row: 1;
    }
    #me {
        grid-row: 2;
        height: 75vh;
        padding-bottom: 75px;
    }
    .me__text {
        padding-bottom: 20px;
    }

  }


  @media (max-width: 460px) {
    

    .container__icons {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: repeat(11, minmax(80px, 1fr));
        justify-content: center;
        align-items: center;
        gap: 2px;
        padding-top: 65px;
    }





    .tuli {
        grid-column: 1;
        grid-row: 2;
        width: 70%;
    }
    .notsu {
        grid-column: 1;
        grid-row: 3;
        width: 70%;
    }
    .sealo {
        grid-column: 1;
        grid-row: 4;
    }
    .kott {
        grid-column: 1;
        grid-row: 5;
        width: 70%;
    }
    .kink {
        grid-column: 1;
        grid-row: 1;
        width: 80%;
    }
    .spiku {
        grid-column: 1;
        grid-row: 6;
    }
    .qr {
        grid-column: 1;
        grid-row: 7;
    }
    .k2si {
        grid-column: 1;
        grid-row: 8;
    }
    .mandala {
        grid-column: 1;
        grid-row: 9;
        width: 90%;
    }
    .mina  {
        grid-column: 1;
        grid-row: 10;
        width: 80%;
    }


    .icon .icon__link{
        position:relative;
        text-align: center;
        visibility: visible;
    }

  }